body {
    position: relative;
}
p {
    margin: 0 auto;
    /*display: inline-block;*/
}
a{
    color: #000;
    font-size: 40px;
}
#tooltip {

    border: 1px solid black;

    position: absolute;
    background: #ffffff;
}
.tooltip {
    border: 1px solid black;
    display: inline-block;
    width: 200px;
    height: 200px;
}
li{
    display: inline-block;
}